<template>
  <div class="header-content">
    <div class="byte" v-for="(byte, index) in $store.state.hex.match(/.{1,2}/g)" :key="index"
         v-bind:class="{ answer: ($store.state.correct || $store.state.cheated) && (index * 2) >= $store.state.question.answerIndex[0] && (index * 2) <= $store.state.question.answerIndex[1] }">
      {{ byte.toUpperCase() }}
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class HeaderContent extends Vue {
  // Layer 2
  dstMac!: string
  srcMac!: string
  etherType!: string

  // ARP
  hardwareType!: string
  protocolType!: string
  hardwareAddressLength!: string
  protocolAddressLength!: string
  opcode!: string
  srcIP!: string
  dstIP!: string

  // IPv4
  ipVersion!: string
  internetHeaderLength!: string
  typeOfService!: string
  totalLength!: string
  identification!: string
  ipFlag!: string
  fragmentationOffset!: string
  timeToLive!: string
  dataProtocol!: string
  headerChecksum!: string

  // IPv6
  trafficClass!: string
  flowLabel!: string
  payloadLength!: string
  nextHeader!: string
  hopLimit!: string

  // Options
  etherTypeOptions!: Map<string, string>
  commonTTLOptions!: Map<string, string>
  dataProtocolOptions!: Map<string, string>

  questionBank!: Array<{ question: string, answer: string | undefined, answerIndex: Array<number> }>

  created () {
    this.etherTypeOptions = new Map()
    this.etherTypeOptions.set('0806', 'ARP')
    this.etherTypeOptions.set('0800', 'IPv4')
    this.etherTypeOptions.set('86DD', 'IPv6')

    this.commonTTLOptions = new Map()
    this.commonTTLOptions.set('80', 'Windows')
    this.commonTTLOptions.set('40', 'Linux')
    this.commonTTLOptions.set('FF', 'Solaris')

    this.dataProtocolOptions = new Map()
    this.dataProtocolOptions.set('01', 'ICMP')
    this.dataProtocolOptions.set('06', 'TCP')
    this.dataProtocolOptions.set('11', 'UDP')

    this.$store.dispatch('updateHex', this.generateFrame() + this.generatePacket())
    this.generateQuestions()
  }

  private generateFrame () {
    this.etherType = this.choose(Array.from(this.etherTypeOptions.keys()))
    this.dstMac = this.etherType === '0806' ? 'FFFFFFFFFFFF' : this.randomHex(12)
    this.srcMac = this.randomHex(12)
    return this.dstMac + this.srcMac + this.etherType
  }

  private generatePacket () {
    let packet = ''
    switch (this.etherType) {
      case '0806': // ARP
        this.hardwareType = '0001'
        this.protocolType = '0800'
        this.hardwareAddressLength = '06'
        this.protocolAddressLength = '04'
        this.opcode = '0001'
        this.dstIP = this.generateIPv4('C0A8')
        this.srcIP = this.generateIPv4(this.dstIP.substring(0, 6))

        packet += this.hardwareType + this.protocolType + this.hardwareAddressLength + this.protocolAddressLength
        packet += this.opcode + this.srcMac + this.srcIP + '000000000000' + this.dstIP
        break
      case '0800': // IPv4
        this.ipVersion = '4'
        this.internetHeaderLength = '5'
        this.typeOfService = '00'
        this.totalLength = '0107'
        this.identification = '06e6'
        this.ipFlag = '4'
        this.fragmentationOffset = '000'
        this.timeToLive = this.choose(Array.from(this.commonTTLOptions.keys()))
        this.dataProtocol = this.choose(Array.from(this.dataProtocolOptions.keys()))
        this.headerChecksum = this.randomHex(4)
        this.dstIP = this.generateIPv4('C0A8')
        this.srcIP = this.generateIPv4(this.dstIP.substring(0, 6))

        packet += this.ipVersion + this.internetHeaderLength + this.typeOfService + this.totalLength
        packet += this.identification + this.ipFlag + this.fragmentationOffset + this.timeToLive + this.dataProtocol
        packet += this.headerChecksum + this.srcIP + this.dstIP

        break
      case '86DD': // IPv6
        this.ipVersion = '6'
        this.trafficClass = '00'
        this.flowLabel = '00000'
        this.payloadLength = '0067'
        this.nextHeader = '11'
        this.hopLimit = '01'
        this.srcIP = this.randomHex(32)
        this.dstIP = this.randomHex(32)

        packet += this.ipVersion + this.trafficClass + this.flowLabel + this.payloadLength + this.nextHeader
        packet += this.hopLimit + this.srcIP + this.dstIP
        break
    }
    return packet
  }

  private generateIPv4 (subnet: string = '') {
    if (subnet.length > 0) {
      return subnet + this.randomHex(8 - subnet.length)
    }
    switch (this.choose(['A', 'B', 'C'])) {
      case 'A':
        return '0A' + this.randomHex(6)
      case 'B':
        return 'AC01' + this.randomHex(4)
      case 'C':
      default:
        return 'C0A8' + this.randomHex(4)
    }
  }

  private generateQuestions () {
    this.questionBank = []
    this.generateQuestion('What is the Destination MAC Address?', this.dstMac)
    this.generateQuestion('What is the Source MAC Address?', this.srcMac)
    this.generateQuestion('What is the EtherType?', this.etherType)
    this.generateQuestion('According to the EtherType, what type of packet follows the frame?', this.etherTypeOptions.get(this.etherType), this.etherType)
    this.generateQuestion('What is the Source IP Address (Hex)?', this.srcIP)
    this.generateQuestion('What is the Destination IP Address (Hex)?', this.dstIP)
    this.generateQuestion('What is the Source IP Address (Dotted Decimal)?', this.hexToIPv4(this.srcIP), this.srcIP)
    this.generateQuestion('What is the Destination IP Address (Dotted Decimal)?', this.hexToIPv4(this.dstIP), this.dstIP)
    this.generateQuestion('What is the protocol type?', this.protocolType)
    this.generateQuestion('What is the Hardware Address Length (HAL)?', this.hardwareAddressLength)
    this.generateQuestion('What is the Protocol Address Length (PAL)?', this.protocolAddressLength)
    this.generateQuestion('What is the Op Code?', this.opcode)
    this.generateQuestion('What is the Internet Header Length (IHL)?', this.internetHeaderLength)
    this.generateQuestion('What is the Type of Service (Hex)?', this.typeOfService)
    this.generateQuestion('What is the total length of the IPv4 payload (Hex)?', this.totalLength)
    this.generateQuestion('What is the Time to Live (Hex)?', this.timeToLive)
    this.generateQuestion('What is the Time to Live (Dec)?', parseInt(this.timeToLive, 16).toString(), this.timeToLive)
    this.generateQuestion('What Operating System Most likely sent this packet?', this.commonTTLOptions.get(this.timeToLive), this.timeToLive)
    this.generateQuestion('What value is in the Data Protocol field?', this.dataProtocol)
    this.generateQuestion('What data protocol will follow this IPv4 Packet?', this.dataProtocolOptions.get(this.dataProtocol), this.dataProtocol)
    this.generateQuestion('What is the header checksum?', this.headerChecksum)

    if (this.etherType === '0806') {
      this.generateQuestion('What IP address (Hex) is being investigated in this ARP packet?', this.dstIP)
      this.generateQuestion('What IP address (Dotted Decimal) is being investigated in this ARP packet?', this.hexToIPv4(this.dstIP), this.dstIP)
    }

    this.$store.dispatch('updateQuestionBank', this.questionBank.filter((q) => {
      return q.answer !== ''
    }))
    this.$store.commit('setNewQuestion')
  }

  private generateQuestion (q: string, a: string = '', h: string = '') {
    this.questionBank.push({
      question: q,
      answer: a,
      answerIndex: [this.$store.state.hex.indexOf(h || a), this.$store.state.hex.indexOf(h || a) + (h || a).length - 1]
    })
  }

  private randomHex (length: number) {
    const hex = '0123456789ABCDE'
    let ret = ''
    for (let i = 0; i < length; i++) {
      ret += hex.charAt(Math.floor(Math.random() * hex.length))
    }
    return ret
  }

  private choose (arr: string[]) {
    return arr[Math.floor(Math.random() * arr.length)]
  }

  private hexToIPv4 (hex: string) {
    if (hex.length !== 8) {
      return undefined
    }
    let ip: Array<number> = []
    const arr = hex.match(/.{1,2}/g)
    if (arr) {
      arr.forEach(octet => ip.push(parseInt(octet, 16)))
    }
    return ip.join('.')
  }
}
</script>

<style scoped>
  .header-content {
    position: absolute;
    top: 26px;
    left: 56px;
    width: 425px;
    display: flex;
    flex-wrap: wrap;
  }

  .byte {
    border: 1px solid black;
    width: 25px;
    height: 25px;
    margin-right: -1px;
    margin-bottom: -1px;
    line-height: 25px;
  }

  .answer {
    background: yellow;
    font-weight: bold;
  }
</style>
