<template>
    <div class="header-container">
      <div class="offset-title">OFFSET</div>
      <div class="top-offsets">
        <div v-for="n in 16" :key="n">
          {{ (n - 1).toString().padStart(2, "0") }}
        </div>
      </div>
      <div class="left-offsets">
        <div v-for="n in numofRows" :key="n">
          {{ ((n - 1) * 16).toString(16).padStart(4, "0") }}
        </div>
      </div>
      <HeaderContent/>
      <div>
        {{ numOfRows }}
      </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import HeaderContent from '@/components/HeaderContent.vue'

@Component({
  components: {
    HeaderContent
  }
})
export default class HeaderContainer extends Vue {
  numOfRows = 0
  get numofRows () {
    return Math.ceil(this.$store.state.hex.length / 32)
  }
}
</script>

<style scoped>
    .header-container {
        width: 500px;
        position: relative;
    }
    .offset-title {
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid black;
      width: 55px;
      height: 25px;
      line-height: 25px;
      font-size: smaller;
      background: #CCC;
    }
    .top-offsets {
      display: flex;
      width: 100%;
      position: absolute;
      top: 0;
      left: 56px;
    }
    .top-offsets div {
      width: 25px;
      height: 25px;
      border: 1px solid black;
      margin-right: -1px;
      line-height: 25px;
      background: #CCC;
    }
    .left-offsets {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 26px;
      left: 0;
      width: 55px;
      height: 500px;
    }
    .left-offsets div {
      width: 100%;
      height: 25px;
      line-height: 25px;
      border: 1px solid black;
      margin-bottom: -1px;
      background: #CCC;
    }
</style>
