<template>
    <div class="answer">
        <div>
          <span>{{ $store.state.question.question }}</span>
          <br/>
          <input class="answer-input" v-model="userAnswer" @input="checkAnswer" type="text"/>
          <div v-if="$store.state.correct || $store.state.cheated">
            <br/><span v-if="$store.state.cheated">CHEATED!</span>
            <span v-else-if="$store.state.correct">CORRECT!</span>
            <br/><span>Answer: {{ $store.state.question.answer }}</span>
            <br/><br/>
            <div v-if="$store.state.questionBank.length !== 1 || $store.state.cheated">
              <button @click="newQuestion">Get New Question</button>
            </div>
            <div v-else>
              <span>Congratulations! You answered all the questions about this header!</span>
              <br/><br/>
              <button @click="newHeader">Get New Header</button>
            </div>
          </div>
          <div v-else>
            <br/><br/>
            <button @click="cheat">Cheat</button>
          </div>
        </div>

    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class Question extends Vue {
    userAnswer: string = ''

    checkAnswer () {
      const hex = '0123456789ABCDEF'
      const arr = this.userAnswer.toUpperCase().split('')
      let userAnswerHex = ''
      for (let i = 0; i < arr.length; i++) {
        if (hex.includes(arr[i])) {
          userAnswerHex += arr[i]
        }
      }

      const correct = ((userAnswerHex === this.$store.state.question.answer.toUpperCase()) || (this.userAnswer.toUpperCase() === this.$store.state.question.answer.toUpperCase()))

      this.$store.dispatch('updateCorrect', correct)
    }

    newQuestion () {
      this.userAnswer = ''
      if (!this.$store.state.cheated) {
        this.$store.commit('questionAnswered')
      }
      this.$store.commit('setNewQuestion')
      this.$store.dispatch('updateCorrect', false)
      this.$store.dispatch('updateCheated', false)
    }

    newHeader () {
      window.location.reload()
    }

    cheat () {
      this.$store.dispatch('updateCheated', true)
    }
}
</script>

<style scoped>
    .answer {
        width: 500px;
        margin-top: 200px;
    }
    .answer-input {
        margin-left: 20px;
    }
</style>
