<template>
  <div id="app">
    <HeaderContainer/>
    <Question/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import HeaderContainer from '@/components/HeaderContainer.vue'
import Question from '@/components/Question.vue'

@Component({
  components: {
    HeaderContainer,
    Question
  }
})
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
}
</style>
